@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
  box-sizing: border-box;
}
::before,
::before,
* {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #c1e0e3;
}

h5 {
  font-weight: bold;
}
