.ricerca {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;

    label {
      font-weight: bolder;
      font-size: large;
    }

    * {
      margin: 0.5em;
    }
  }
}
